.container-formacao {
    padding: 2.5rem 0;
    background-color: var(--color-destacado-item);
}


.formacao {
    margin: 0 auto;
    width: var(--largura-home);
}

.formacao_title {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: bold;
}

.formacao_items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.formacao_items__item___image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 12rem;
    margin: 1.5rem 0 0 1rem;
    background-color: white;
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(204 204 204 / 76%);
}

.formacao_items:last-child {
    margin-top: 1.5rem;
}

.formacao_items__item:hover {
    transform: scale(1.05, 1.05);
}


.formacao_items__item___icon {
    width: 8rem;
    height: 8rem;
}