:root {
    --largura-home: 85%;
    --largura-mobile: 90%;

    --color-destacado-item: rgb(212, 228, 250);
}

body {
    background-color: #f5f5f5;
    font-family: "Raleway", sans-serif;
    font-style: normal;
}