.container-apresentacao {
    margin: 4rem auto 1.5rem;
    display: flex;
    align-items: center;
    width: var(--largura-home);
}

.apresentacao {
    width: 70%;
}

.apresentacao_titulo {
    font-size: 3rem;
    font-weight: bold;
}

.apresentacao_texto {
    font-size: 1.2rem;
}

.apresentacao_titulo,
.apresentacao_texto {
    margin-bottom: 1.5rem;
}

.apresentacao_medias {
    display: flex;
}

.apresentacao_medias ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}


.apresentacao_medias ul li a:hover {
    font-weight: 700;
    color: #053e8c;
}

.apresentacao_medias ul li img {
    width: 0.5rem;
    margin-right: 1.5rem;
}


.apresentacao_foto-perfil {
    width: 30%;
    border-radius: 90%;
    display: block;
}

.apresentacao_foto-perfil:hover {
    transform: scale(1.05, 1.05);
}