.navegacao {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 1.5rem 0;
    width: var(--largura-home);
    margin: 0 auto;
}

.navegacao_nome__icone {
    max-height: 1.6rem;
    vertical-align: middle;
}

.navegacao_nome {
    display: block;
}

.navegacao_nome,
.navegacao_links__link {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    margin-right: 1.5rem;
}

.navegacao_links__link:hover {
    font-weight: 700;
    color: #053e8c;
}