.container-apresentacao {
    margin: 4vw auto 1.5vw;
    display: flex;
    align-items: center;
    width: var(--largura-home);
}

.apresentacao {
    width: 70%;
}

.apresentacao_titulo {
    font-size: 3.5vw;
    font-weight: bold;
}

.apresentacao_texto {
    font-size: 2vw;
}

.apresentacao_titulo,
.apresentacao_texto {
    margin-bottom: 1.2vw;
}

.apresentacao_medias {
    display: flex;
}

.apresentacao_medias a {
    text-decoration: none;
    font-size: 1.4vw;
    color: var(--cor-terciaria);
}


.apresentacao_medias a:hover {
    font-weight: 700;
    color: var(--cor-primaria);
}

.apresentacao_medias ul li img {
    width: 0.7vw;
    margin-right: 1.5vw;
}


.apresentacao_foto-perfil {
    width: 30%;
    border-radius: 90%;
    display: block;
}

.apresentacao_foto-perfil:hover {
    transform: scale(1.05, 1.05);
}

@media screen and (max-width: 768px) {

    .container-apresentacao {
        width: var(--largura-tablet);
    }
}