.container-apresentacao {
    margin: 4vw auto 1.5vw;
    display: flex;
    align-items: center;
    width: var(--largura-home);
}

.apresentacao {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
}

.apresentacao_titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}

.apresentacao_texto {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.apresentacao_titulo,
.apresentacao_texto {
    margin-bottom: 1.2vw;
}

.apresentacao_medias {
    display: flex;
}

.apresentacao_medias a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--cor-terciaria);
}


.apresentacao_medias a:hover {
    font-weight: 700;
    color: var(--cor-primaria);
}

.apresentacao_medias ul li img {
    width: 0.7vw;
    margin-right: 1.5vw;
}


.apresentacao_foto-perfil {
    width: 30%;
    border-radius: 90%;
    display: block;
}

.apresentacao_foto-perfil:hover {
    transform: scale(1.05, 1.05);
}

@media screen and (max-width: 768px) {

    .container-apresentacao {
        width: var(--largura-tablet);
    }

    .apresentacao_titulo {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    .apresentacao_texto {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .apresentacao_medias a {
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: var(--cor-terciaria);
    }
}

@media screen and (max-width: 360px) {

    .container-apresentacao {
        width: var(--largura-mobile);
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .apresentacao {
        width: 100%;
    }

    .apresentacao_foto-perfil {
        margin: 0 0 16px 0;
    }

    .apresentacao_titulo {
        font-size: 22px;
        line-height: 26px;
    }

    .apresentacao_texto {
        font-size: 14px;
        line-height: 16px;
    }

    .apresentacao_medias a {
        font-size: 14px;
        line-height: 16px;
    }
}