.container-experiencias {
    padding: 2.5vw 0;
}

.experiencias {
    margin: 0 auto;
    width: var(--largura-home);
}

.experiencias_title {
    text-align: center;
    font-size: 2.4vw;
    font-style: normal;
    font-weight: 700;
    line-height: bold;
}

.experiencias_items__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2vw;
}

.experiencias_items__item:nth-child(2n) {
    flex-direction: row-reverse;
}

.experiencias_items__item___image {
    width: 50%;
}

.experiencias_items__item___image {
    width: 50%;
}

.experiencias_items__item___detalhes * {
    padding: .5vw;
}

.experiencias_items__item___detalhes____titulo {
    font-weight: 700;
    font-size: 1.5vw;
}

.experiencias_items__item___detalhes____descricao {
    font-weight: 500;
    font-size: 1vw;
}

.experiencias_items_item___detalhes____botoes a:hover {
    transform: scale(1.05, 1.05);
}

.experiencias_items__item___detalhes____botoes_____repositorio {
    border: 1px solid var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    color: var(--cor-primaria);
    padding: 1vw;
    font-weight: 500;
    font-size: 1vw;
}

.experiencias_items__item___detalhes____botoes_____demo {
    border: 1px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    color: var(--cor-secundaria);
    padding: 1vw;
    font-weight: 500;
    font-size: 1vw;
}

@media screen and (max-width: 850px) {
    .experiencias {
        width: var(--largura-tablet);
    }

    .experiencias_items__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .experiencias_items__item:nth-child(2n) {
        flex-direction: column;
    }

    .experiencias_items__item___image {
        width: 100%;
    }

    .experiencias_items__item___detalhes____titulo {
        font-weight: 700;
        font-size: 2vw;
    }

    .experiencias_items__item___detalhes____descricao {
        font-weight: 500;
        font-size: 1.5vw;
    }

    .experiencias_items__item___detalhes____botoes_____repositorio {
        border: 1px solid var(--cor-primaria);
        text-decoration: none;
        display: inline-block;
        color: var(--cor-primaria);
        padding: 1vw;
        font-weight: 500;
        font-size: 2vw;
    }

    .experiencias_items__item___detalhes____botoes_____demo {
        border: 1px solid var(--cor-primaria);
        background-color: var(--cor-primaria);
        text-decoration: none;
        display: inline-block;
        color: var(--cor-secundaria);
        padding: 1vw;
        font-weight: 500;
        font-size: 2vw;
    }

}