.container-experiencias {
    padding: 2.5vw 0;
}

.experiencias {
    margin: 0 auto;
    width: var(--largura-home);
}

.experiencias_title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.experiencias_items__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2vw;
}

.experiencias_items__item:nth-child(2n) {
    flex-direction: row-reverse;
}

.experiencias_items__item___image {
    width: 60%;
}

.experiencias_items__item___detalhes {
    width: 40%;
}

.experiencias_items__item___detalhes * {
    padding: .5vw;
}

.experiencias_items__item___detalhes____titulo {
    font-size: 22px;
    line-height: 26px;
}

.experiencias_items__item___detalhes____descricao {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.experiencias_items_item___detalhes____botoes a:hover {
    transform: scale(1.05, 1.05);
}

.experiencias_items__item___detalhes____botoes_____repositorio {
    border: 1px solid var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    color: var(--cor-primaria);
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.experiencias_items__item___detalhes____botoes_____demo {
    border: 1px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    color: var(--cor-secundaria);
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 850px) {
    .experiencias {
        width: var(--largura-tablet);
    }

    .experiencias_title {
        font-size: 22px;
        line-height: 26px;
    }

    .experiencias_items__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .experiencias_items__item:nth-child(2n) {
        flex-direction: column;
    }

    .experiencias_items__item___image {
        width: 100%;
    }

    .experiencias_items__item___detalhes____titulo {
        font-size: 22px;
        line-height: 26px;
    }

    .experiencias_items__item___detalhes____descricao {
        font-size: 16px;
        line-height: 19px;
    }

    .experiencias_items__item___detalhes____botoes_____repositorio {
        padding: 12px 16px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 2px;
    }

    .experiencias_items__item___detalhes____botoes_____demo {
        padding: 12px 16px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 360px) {
    .experiencias {
        width: var(--largura-mobile);
    }

    .experiencias_title {
        font-size: 22px;
        line-height: 26px;
    }

    .experiencias_items__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .experiencias_items__item:nth-child(2n) {
        flex-direction: column;
    }

    .experiencias_items__item___image {
        width: 100%;
    }

    .experiencias_items__item___detalhes____titulo {
        font-size: 16px;
        line-height: 19px;
    }

    .experiencias_items__item___detalhes____descricao {
        font-size: 14px;
        line-height: 16px;
    }

    .experiencias_items__item___detalhes____botoes_____repositorio {
        padding: 12px 16px;
        font-size: 14px;
        line-height: 16px;
    }

    .experiencias_items__item___detalhes____botoes_____demo {
        padding: 12px 16px;
        font-size: 14px;
        line-height: 16px;
    }
}