.container-experiencias {
    padding-top: 2.5rem;
}

.experiencias {
    margin: 0 auto;
    width: var(--largura-home);
}

.experiencias_title {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: bold;
}

.experiencias_items__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}


.experiencias_items__item___image {
    width: 45rem;
    height: 30rem;
}

.experiencias_items__item___detalhes * {
    margin-bottom: .5rem;
}

.experiencias_items__item___detalhes____titulo {
    font-weight: 700;
    font-size: 1.5rem;
}

.experiencias_items__item___detalhes____descricao {
    font-weight: 500;
    font-size: 1rem;
}

.experiencias_items_item___detalhes____botoes a:hover {
    transform: scale(1.05, 1.05);
}

.experiencias_items__item___detalhes____botoes_____repositorio {
    border: 1px solid #2a7ae4;
    text-decoration: none;
    display: inline-block;
    color: #2a7ae4;
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

.experiencias_items__item___detalhes____botoes_____demo {
    border: 1px solid #2a7ae4;
    background-color: #2a7ae4;
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
}