.container-formacao {
    padding: 2.5rem 0;
    background-color: var(--cor-destacado-item);
}


.formacao {
    margin: 0 auto;
    width: var(--largura-home);
}

.formacao_title {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: bold;
}

.formacao_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.formacao_items__item___image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 17vw;
    background-color: var(--cor-secundaria);
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(204 204 204 / 76%);
}

.formacao_items__item:hover {
    transform: scale(1.05, 1.05);
}


.formacao_items__item___icon {
    width: 10vw;
    height: 10vw;
}

.formacao_items__item___texto____curso {
    font-weight: 700;
    font-size: 1.5vw;
    margin-top: .5rem;
}

.formacao_items__item___texto____formacao {
    font-weight: 500;
    font-size: 1.5vw;
}