.container-hobbies {
    padding-top: 2.5rem;
}

.hobbies {
    margin: 0 auto;
    width: var(--largura-home);
}

.hobbies_title {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: bold;
}

.hobbies_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.hobbies_items__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    width: 10rem;
    height: 9rem;
    padding: 1rem;
    margin: 2.2rem;
    background-color: white;
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(204 204 204 / 76%);
}

.hobbies_items__item:hover {
    transform: scale(1.05, 1.05);
}


.hobbies_items__item___icon {
    width: 2rem;
    height: 2rem;
}

.hobbies_items__item___title {
    font-weight: bold;
    margin: .5rem .5rem .5rem 0;
}