.container-hobbies {
    padding-bottom: 2.5vw;
}

.hobbies {
    margin: 0 auto;
    width: var(--largura-home);
}

.hobbies_title {
    margin: 2.5vw 0;
    text-align: center;
    font-size: 2.4vw;
    font-style: normal;
    font-weight: 700;
    line-height: bold;
}

.hobbies_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.hobbies_items__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    width: 12vw;
    height: 11vw;
    padding: 1vw;
    margin: 1vw;
    background-color: var(--cor-branco);
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(204 204 204 / 76%);
}

.hobbies_items__item:hover {
    transform: scale(1.05, 1.05);
}


.hobbies_items__item___icon {
    width: 2vw;
    height: 2vw;
}

.hobbies_items__item___title {
    font-weight: bold;
    font-size: 1.2vw;
    margin: .5rem .5rem .5rem 0;
}

@media screen and (max-width: 850px) {
    .hobbies {
        width: var(--largura-tablet);
    }
}