header {
    z-index: 1;
    width: 100%;
    height: 3vw;
    background-color: var(--cor-secundaria);
    position: fixed;
    top: 0;
}

.container-navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--largura-home);
    margin: 0 auto;
    padding: 1vw 0;
}

.navegacao_nome__icone {
    width: 24px;
    height: 24px;
}

.navegacao_nome {
    display: flex;
    align-items: center;
    font-weight: 700, Bold;
    font-size: 16px;
    line-height: 19px;
}

.navegacao_nome,
.navegacao_links__link {
    font-weight: 500,
        medium;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: var(--cor-terciaria);
    margin-right: 0.1vw;
}

.navegacao_links__link:last-child {
    font-weight: bold;
    margin: 0
}


.navegacao_links__link:hover {
    font-weight: bold;
    color: var(--cor-primaria);
}

@media screen and (max-width: 850px) {

    .container-navegacao {
        width: var(--largura-tablet);
    }

    .navegacao_links__link {
        display: none;
    }

    .navegacao_links__link:last-child {
        display: flex;

    }

}

@media screen and (max-width: 400px) {

    .container-navegacao {
        width: var(--largura-mobile);
    }

    .navegacao_links__link {
        display: none;
    }

    .navegacao_links__link:last-child {
        display: flex;
    }

    .navegacao_nome {
        font-size: 14px;
        line-height: 16px;
    }

    .navegacao_nome,
    .navegacao_links__link {
        font-size: 14px;
        line-height: 16px;
    }

    .apresentacao_foto-perfil {
        padding-top: 16px;
    }
}