header {
    z-index: 1;
    width: 100%;
    height: 3vw;
    background-color: var(--cor-secundaria);
    position: fixed;
    top: 0;
}

.container-navegacao {
    display: flex;
    justify-content: space-between;
    width: var(--largura-home);
    margin: 0 auto;
    padding: 1vw 0;
}

.navegacao_nome__icone {
    max-height: 1.4vw;
    vertical-align: middle;
}

.navegacao_nome {
    font-weight: bold;
}

.navegacao_nome,
.navegacao_links__link {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 1.4vw;
    margin-right: 0.1vw;
}

.navegacao_links__link:last-child {
    font-weight: bold;
    margin: 0
}


.navegacao_links__link:hover {
    font-weight: bold;
    color: var(--cor-primaria);
}

@media screen and (max-width: 768px) {

    .container-navegacao {
        width: var(--largura-tablet);
    }

    .navegacao_links__link {
        display: none;
    }

    .navegacao_links__link:last-child {
        display: inline;
    }
}