.container-sobre {
    padding: 2vw 0;
    background-color: var(--cor-destacado-item);
}

.sobre {
    margin: 0 auto;
    width: var(--largura-home);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.sobre_titulo {
    font-size: 2.4vw;
    font-style: normal;
    font-weight: 700;
    line-height: bold;
}

.sobre_texto {
    margin-top: 1.5vw;
    width: 70%;
    font-size: 1.3vw;
    text-align: justify;
}

.sobre_assinatura {
    width: 7%;
}

@media screen and (max-width: 768px) {

    .sobre {
        width: var(--largura-tablet);
    }

    .sobre_texto {
        width: 100%;
    }

}